.contacts {
    width: 300px;
    margin: 0 auto;
  }
  
  .search-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .contacts-list {
    padding: 0;
    width: 100%;
  }
  
  .contact {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    border-bottom: 1px dotted grey;
  }
  .contact:last-child {
    border-bottom: none;
  }
  .contact:hover .contact-name{
    color: grey;
  }
  .contact:hover .contact-name, .contact-number{
    cursor: default;
  }

  .contact-image {
      border-radius: 50%;
      margin: 5px;
  }
  
  .contact-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .contact-number {
    font-size: 18px;
    color: grey;
  }

  .contactDetails {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    min-height: 150px;
    padding: 5px;
    border-bottom: 1px dotted grey;
  }
  .contactDetails .contact-number {
    font-size: 18px;
    color: grey;
    padding: 4px;
  }
  .contactDetails:hover .contact-name, .contact-number{
    cursor: default;
  }